/************************************/
/*																*/
/*					DESKTOPBODY.CSS					*/
/*																*/
/*					1.) GENERAL							*/
/*					2.) USER PAGE							*/
/*					3.) BAND PAGE						*/
/*					4.) ALBUM PAGE						*/
/*					5.) ABOUT PAGE						*/
/*					6.) ADMIN PAGE						*/
/*					7.) VENUE PAGE						*/
/*					8.) LOCATION PAGE					*/
/*																*/
/************************************/



/***********************/
/*			1.) GENERAL			*/
/***********************/


body {
	font-family: PT Sans;
	margin: 0 auto;
	font-size: 16px;
	background: #f1f1f1;
	min-width: 1500px;
}

h1, h2, h3, h4, h5, h6, b, strong, th {
	font-family: PT Sans Bold;
}

.boldItalic {
	font-family: PT Sans Bold Italic;
}

p {
	margin: 0;
}

.wrapper {
	width: 95%;
	margin: 0 auto;
	max-width: 1500px;
	margin-top: 5px;
}

.aWhite {
	color: #eee;
	text-decoration: none;
}

.inputBox {
	width: 250px;
	height: 30px;
	border: none;
	border-radius: 5px;
	background: #333;
	color: #eee;
	padding: 0px 10px;
	margin-top: 10px;
}

.submitButton {
	width: 270px;
	height: 30px;
	background: #aaa;
	color: #333;
	border: none;
	border-radius: 5px;
	margin-top: 10px;
	font-weight: bold;
	font-family: PT Sans Bold;
	font-size: 16px;
	cursor: pointer;
}

.center {
	text-align: center;
}

.loginRegisterContainer {
	width: 50%;
	min-width: 800px;
	max-width: 1100px;
	margin: 0 auto;
	margin-top: 100px;
}

.loginRegisterContainer p {
	width: 270px;
	margin: 0 auto;
}

.errorBox {
	width: 80%;
	max-width: 900px;
	margin: 0 auto;
	background: crimson;
	padding: 5px 0px;
	text-align: center;
	color: #eee;
	border: 2px solid #333;
	font-weight: bold;
	font-family: PT Sans Bold;
	margin-top: 10px;
}

.pageTitle {
	padding-left: 100px;
	margin-top: 20px;
}

.noMargin { /* Removes all margins from element */
	margin: 0 auto;
}

.editButtonLink {
	width: 280px;
	margin: 0 auto;
}

.selectBox {
	min-width: 250px;
	border: none;
	box-shadow: 1px 1px 3px #888;
	height: 30px;
	border-radius: 5px;
	margin-top: 10px;
	padding: 0px 10px;
	background: #333;
	color: #eee;
}


/***********************/
/*			2.) USER PAGE			 */
/***********************/

.userInfoWrapper {
	background: #fff;
	min-height: 300px;
	width: 30%;
	min-width: 300px;
	max-width: 350px;
	box-shadow: 1px 1px 3px #333;
	padding-bottom: 10px;
	float: left;
}

.userPageUsername {
	text-align: center;
	margin: 0 auto;
	margin-bottom: 5px;
}

.userImageContainer {
	width: 280px;
	margin: 0 auto;
	overflow: hidden;
	height: 280px;
	box-shadow: 0px 0px 3px #888;
	margin-bottom: 5px;
}

.userInfoContainer {
	width: 90%;
	min-width: 280px;
	margin: 0 auto;
	margin-top: 10px;
	box-shadow: 1px 1px 3px #888;
}

.userInfoContainer > p {
	padding: 5px;
}

.userInfoContainer .oddRow {
	background: #fff;
	color: #000;
	border-left: 1px solid #888;
	border-right: 1px solid #888;
}

.userInfoContainer .evenRow {
	background: #888;
	color: #fff;
}

.userInfoType {
	font-weight: bold;
	font-family: PT Sans Bold;
}

.userInfoData, .right {
	float: right;
}

.editButtonContainer {
	width: 250px;
	margin: 0 auto;
	padding: 5px 0px;
}

.editButton {
	width: 100%;
	height: 30px;
	text-align: center;
	border: none;
	border-radius: 2px;
	box-shadow: 1px 1px 3px #888;
	font-weight: bold;
	font-family: PT Sans Bold;
	font-size: 16px;
	cursor: pointer;
}

.userPageWrapper {
	width: 65%;
	background: #fafafa;
	float: left;
	box-shadow: 1px 1px 3px #888;
	padding: 10px;
}

.editUserFormContainer {
	width: 65%;
	max-width: 575px;
	float: right;
	background: #fff;
	box-shadow: 1px 1px 3px #888;
}

.editUserTable {
	width: 100%;
}



/***********************/
/*			3.) BAND PAGE		 */
/***********************/

.bandPageWrapper {
	width: 65%;
	float: left;
	padding: 10px;
}

.bandInfoWrapper {
	
	margin: 0 auto;
	width: 50%;
	min-width: 400px;
	float: left;
}

.bandInfoImageWrapper {
	width: 400px;
	height: 250px;
	overflow: hidden;
	box-shadow: 1px 1px 3px #888;
}

.bandInfoContainer {
	width: 400px;
	margin-top: 10px;
	background: #f1f1f1;
	box-shadow: 1px 1px 3px #888;
}

.bandInfoContainer > div {
	width: calc(100% - 10px);
	padding: 2px 5px;
	height: 22px;
}

.bandInfoRow {
	height: 100%;
}

.bandInfoLeftCol {
	width: 49%;
	float: left;
	text-align: left;
}

.bandInfoRightCol {
	width: 49%;
	float: right;
}

.bandInfoRightCol:nth-child(odd) {
	background: #555;
}

.bandInfoContainer > div:nth-child(odd) {
	background: #555;
	color: #eee;
}

.bandBioTitle { /* Title for the band bio on band page */
	margin-top: 5px;
	padding-left: 20px;
	text-decoration: underline;
}

.bandBioSection {
	width: 390px;
	padding: 2px 5px;
	margin-top: 10px;
	box-shadow: 1px 1px 3px #888;
	background: #fff;
}

.bandPageGenreTitle {
	margin: 5px 0px;
}

.genreWrapperBandPage {
	background: #fff;
	box-shadow: 1px 1px 3px #888;
	min-height: 250px;
	padding: 2px 5px;
}

.genreMerchWrapper {
	width: 50%;
	min-height: 400px;
	min-width: 450px;
	
	float: left;
}

.genreCircleWrapper {
	min-width: 205px;
	width: 50%;
	float: left;
}

.genreListBandPage {
	width: 50%;
	float: left;
	min-width: 200px;
	max-width: 300px;
	text-align: center;
}

.merchAreaBandPage {
	width: 100%;
	clear: both;
	min-height: 150px;
	margin-top: 10px;
	box-shadow: 1px 1px 3px #888;
	background: #fff;
}

.bandMerchButtonArea {
	float: left;
	width: 50%;
	height: 150px;
}

.bandMerchButtonContainer {
	margin: 0 auto;
	width: 90%;
}

.bandMerchButtonContainer > h3 {
	text-align: center;
}

.bandMerchButtonContainer > h3 > em {
	font-family: PT Sans Bold Italic;
}

.bandMerchButtonDiv > a > img {
	height: 50px;
	width: inherit;
	cursor: pointer;
	display: block;
	margin: 0 auto;
}

.thirdPartyMusicButtons {
	height: 40px;
	width: inherit;
}

.bandPageThirdPartyMusic {
	width: 50%;
	float: left;
	height: 150px;
	display: table;
}

.bandPageUlCenter {
	display: table-cell;
	vertical-align: middle;
}

.thirdPartyUlBandPage {
	margin: 0 auto;
	padding: 0;
	width: 100%;
	list-style-type: none;
}

.thirdPartyUlBandPage > li {
	text-align: center;
	padding: 2px 2px;
	min-height: 40px;
	display: table-header-group;
}

.albumTitleBandPage {
	clear: both;
	padding-top: 15px;
}

.albumSectionBandPage {
	background: #fafafa;
	width: 65%;
	float: left;
	box-shadow: 1px 1px 3px #888;
	padding: 10px;
	min-height: 400px;
	text-align: center;
}

.albumAccordionTitle {
	padding: 5px;
	background: #333;
	color: #eee;
}

.albumAccordionTitle > h2 {
	margin: 0 auto;
	padding-left: 25px;
	text-align: left;
}

.albumBox {
	margin: 0 auto;
	width: 90%;
	max-width: 1000px;
	display: inline-block;
	
}

.albumAccordionImageContainer {
	width: 150px;
	padding: 10px;
	float: left;
	border-right: 1px dashed #d1d1d1;
} 

.albumAccordionImage {
	width: 150px;
	height: 150px;
	box-shadow: 1px 1px 3px #888;
}

.albumAccordionBody {
	width: calc(100% - 20px);
	margin: 0 auto;
	background: #fff;
	box-shadow: 0px 0px 3px #888;
	height: 175px;
}
.albumAccordionMiddle {
	width: calc(45% - 12px);
	height: 150px;
	margin: 0 auto;
	display: block;
	padding: 10px 5px;
	float: left;
	border-right: 1px dashed #d1d1d1;
}

.albumAccordionRight {
	width: calc(55% - 180px);
	float: left;
	height: 150px;
	margin: 0 auto;
	display: block;
	padding: 10px 5px;
}

.albumAccordionMiddle > table {
	width: 100%;
	height: 100%;
}

.albumAccordionMiddle > table > tbody > tr:nth-child(odd) > td {
	background: #555;
	color: #eee;
}

.albumAccordionMiddle > table > tbody > tr:nth-child(even) > td {
	background: #f1f1f1;
	color: #000;
}

.albumAccordionMiddle > table > tbody > tr > td > p:last-child {
	text-align: left;
	padding-left: 10px;
}

/***********************/
/*			4.) ALBUM PAGE		 */
/***********************/

.merchButtonContainer {
	width: 270px;
}




/***********************/
/*			7.) VENUE PAGE		 */
/***********************/

.mainVenueImgContainer {
	width: 450px;
	height: 300px;
	overflow: hidden;
	box-shadow: 1px 1px 3px #888;
}


/***********************/
/*		8.) LOCATION PAGE	 	 */
/***********************/

.locationCityContainer {
	width: 450px;
	height: 300px;
	overflow: hidden;
	float: left;
	box-shadow: 1px 1px 3px #888;
	position: relative;
	margin: 5px;
}

.locationName {
	position: absolute;
	font-weight: bold;
	font-family: PT Sans Bold;
	color: #fff;
	bottom: 10px;
	right: 20px;
	z-index: 2;
}

.divShadow {
	position: absolute;
	z-index: 1;
	margin: 0;
	padding: 0;
}

.cityImage {
	position: absolute;
	z-index: -1;
	margin-top: -300px;
}

.cityImageContainer {
	width: 600px;
	height: 350px;
	overflow: hidden;
}





















