header {
	background: #000;
	color: #eee;
	width: 100%;
	height: 80px;
}

header > table {
	width: 100%;
	height: 100%;
}

nav {
	height: 40px;
	width: 100%;
	background: #333;
	color: #eee;
}

nav > ul {
	height: 40px;
	margin: 0 auto;
	font-size: 22px;
	text-align: center;
	padding-left: 0;
}

nav > ul > a > li {
	display: inline-block;
	padding: 0px 10px;
	height: calc(100% - 5px);
	padding-top: 5px;
	cursor: pointer;
}

nav > ul > a > li:hover {
	background: #aaa;
}

nav > ul > a > li:active {
	background: #888;
}

.loginRegisterWrapper {
	width: 80%;
	margin: 0 auto;
}

.loginRegisterWrapper > div {
	display: inline-block;
	font-family: PT Sans Bold;
	width: 50%;
	float: left;
}

.loginButton {
}

#searchbar {
	height: 30px;
	width: 80%;
	margin: 0 auto;
	padding: 0 10px 0 10px;
	background: #333;
	color: #eee;
	border: 0;
	border-radius: 2px;
	min-width: 250px;
}

#centerHeaderElement {
	position: relative;
}

.liveSearchResults {
	background: transparent;
	width: calc(80% + 20px);
	position: absolute;
	margin: 0 auto;
	max-width: 500px;
	margin-top: 1px;
	left: 0;
	right: 0;
}

.liveSearchResults > ul {
	background: #333;
	width: 100%;
	color: #eee;
	margin: 0 auto;
	border-bottom: 1px solid #000;
	padding: 0;
	list-style-type: none;
}

.liveSearchResults > ul > li:first-child {
	background: #333;
	color: #eee;
	padding: 5px 0px;
}

.liveSearchResults > ul > a {
	text-decoration: none;
}

.liveSearchResults > ul > a > li {
	list-style-type: none;
	background: #fff;
	color: #333;
	clear: both;
	margin: 0 auto;
	padding: 5px 0px;
	border-bottom: 1px solid #333;
}

.selectedLi {
	background: #555;
	color: #f1f1f1;
}



















